html, body{
    height:100%;
    padding: 0; 
    margin: 0;
}
body {
    background-color: dimgray; 
    padding: 0; 
    /* margin: 2%;  */
    display:flex;
    /* flex-direction: column; */
    vertical-align: top;
    /* This centers our sketch horizontally. */
    justify-content: center;
    
}

#canvas {
    vertical-align: top;
}

#canvas {
    /* width:50%;
    height:50%; */
    transform:scale(0.95);
}
#buttonContainer{
    position:relative;
    top:530px;
    left:40px;
}
#myButton {
    position:absolute;
    /* top:60px;
    left: -250px; */
    width:150px;
    padding:20px;
    border-radius: 15px;
    /* height:50px; */
}
#myButton:hover {
    background-color: greenyellow;
}
#myButton:active{
    background-color: darkgreen;
}
#controls {
    display:flex;
    flex-direction: row;
    position: relative;
    top:150px;
    left:635px;
    align-self: start;
    padding:5px;
}
#threshold {
    align-self: start;
    position:absolute;
}
#value {
    position:absolute;
    left:150px;
    top:-10px;
    color:white;
}
#instructContainer {
    position: relative;
    left:20%;
    padding:20px;
    background-color: azure;
    display: inline-block;
}
#title {
    text-align: center;
}
#instructions{
    text-align: center;
}